<div class="container">
  <h2 class="about-heading">About VGCC Project</h2>
  <p class="about-description">VGCC Software, licensed by Valentin Valencia, seamlessly integrates Valentin Google Calendar and ChatGPT services to provide comprehensive assistance with your Google Calendar events.</p>
  
  <h3 class="features-heading">Key Features:</h3>
  <ul class="features-list">
      <li>Select multiple Google Calendars and effortlessly query ChatGPT about any details within your agenda.</li>
      <li>View events from your calendar spanning past, present, and future dates.</li>
      <li>No personal user information is stored to ensure privacy.</li>
  </ul>
  
  <h3 class="how-to-use-heading">How to Use:</h3>
  <ol class="how-to-use-steps">
      <li>Select the date range of events from your calendar that require assistance.</li>
      <li>Click "Add Calendar" and consent to Google's terms.</li>
      <li>Utilize the chat interface on the right to inquire about your calendars.</li>
      <li>Press "Reset All" to permanently delete all accounts and chat history.</li>
  </ol>
  
  <h3 class="usage-examples-heading">Examples of Use:</h3>
  <ol class="usage-examples">
      <li>Include your personal and work calendar emails, then ask, "What do I have planned for the next week? Are there any scheduling conflicts?"</li>
      <li>Incorporate calendars of friends and seek advice on the ideal day and time for social gatherings or vacations.</li>
  </ol>
  
  <p class="notes">Notes:</p>
  <ul class="notes-list">
      <li>Calendars added are valid for only 24 hours for security reasons.</li>
      <li>The project is currently intended for local usage and is not recommended for deployment.</li>
      <li>OpenAI API is utilized, and they enforce their own personal data policy.</li>
      <li>VGCC stands for Valentin Google Calendar + ChatGPT integration.</li>
  </ul>
  
  <h3 class="contact-heading">Contact Me:</h3>
  <p class="contact-info">Looking to connect? Feel free to reach out to me on LinkedIn:</p>
  <a href="https://www.linkedin.com/in/valentin-valencia-valencia-2a0034231" class="linkedin-link" target="_blank">LinkedIn Profile</a>
  
  <p class="repository-info">Explore the project repositories on GitHub:</p>
  <ul class="repository-links">
      <li><a href="https://github.com/Valentin387/VGCC_frontend" target="_blank">Frontend GitHub Repository</a></li>
      <li><a href="https://github.com/Valentin387/VGCC_backend" target="_blank">Backend GitHub Repository</a></li>
  </ul>
</div>