<div class="container">
  <h2 class="about-heading" i18n>About VGCC Project</h2>
  <p class="about-description" i18n>VGCC Software, licensed by Valentin Valencia, seamlessly integrates Valentin Google Calendar and ChatGPT services to provide comprehensive assistance with your Google Calendar events.</p>
  
  <h3 class="features-heading" i18n>Key Features:</h3>
  <ul class="features-list">
      <li i18n>Select multiple Google Calendars and effortlessly query ChatGPT about any details within your agenda.</li>
      <li i18n>View events from your calendar spanning past, present, and future dates.</li>
      <li i18n>No personal user information is stored to ensure privacy.</li>
  </ul>
  
  <h3 class="how-to-use-heading" i18n>How to Use:</h3>
  <ol class="how-to-use-steps">
      <li i18n>Select the date range of events from your calendar that require assistance.</li>
      <li i18n>Click "Add Calendar" and consent to Google's terms.</li>
      <li i18n>Utilize the chat interface on the right to inquire about your calendars.</li>
      <li i18n>Press "Reset All" to permanently delete all accounts and chat history.</li>
  </ol>
  
  <h3 class="usage-examples-heading" i18n>Examples of Use:</h3>
  <ol class="usage-examples">
      <li i18n>Include your personal and work calendar emails, then ask, "What do I have planned for the next week? Are there any scheduling conflicts?"</li>
      <li i18n>Incorporate calendars of friends and seek advice on the ideal day and time for social gatherings or vacations.</li>
  </ol>
  
  <p class="notes">Notes:</p>
  <ul class="notes-list">
      <li i18n>Calendars added are valid for only 24 hours for security reasons.</li>
      <li i18n>The project is currently intended for local usage and is not recommended for deployment.</li>
      <li i18n>OpenAI API is utilized, and they enforce their own personal data policy.</li>
      <li i18n>VGCC stands for Valentin Google Calendar + ChatGPT integration.</li>
  </ul>
  
  <h3 class="contact-heading" i18n>Contact Me:</h3>
  <p class="contact-info" i18n>Looking to connect? Feel free to reach out to me on LinkedIn:</p>
  <a href="https://www.linkedin.com/in/valentin-valencia-valencia-2a0034231" class="linkedin-link" target="_blank" i18n>LinkedIn Profile</a>
  
  <p class="repository-info" i18n>Explore the project repositories on GitHub:</p>
  <ul class="repository-links">
      <li><a href="https://github.com/Valentin387/VGCC_frontend" target="_blank" i18n>Frontend GitHub Repository</a></li>
      <li><a href="https://github.com/Valentin387/VGCC_backend" target="_blank" i18n>Backend GitHub Repository</a></li>
  </ul>
</div>