/* Original styles */
.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.left-panel {
  border-right: none;
}
  
.left-panel, .right-panel {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
}

.mat-expansion-panel {
  margin-bottom: 1rem;
}

.mat-panel-title {
  font-weight: bold;
}

.right-panel {
  display: flex;
  height: 70vh;
  flex-direction: column;
  overflow-y: auto;
}

.chat-messages {
  flex: 1;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: auto;
}

.chat-input {
  padding: 1rem;
}

/* Bootstrap styles for buttons */
button.mat-raised-button {
  margin-right: 5px;
}

button.mat-raised-button.primary {
  background-color: #007bff;
  color: #fff;
}

button.mat-raised-button.warn {
  background-color: #dc3545;
  color: #fff;
}

/* Align the "Add Users" button to the right */
.left-panel button.mat-raised-button.primary {
  float: right;
}


.sender-message {
  text-align: right;
  /* Additional styling for sender messages */
}

.receiver-message {
  text-align: left;
  /* Additional styling for receiver messages */
}

.chat-input {
  display: flex;
  overflow-y: hidden; /* Hide overflow vertically */
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  
}

.input-container {
  flex: 1;
  width: 85vh;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 10px;
}

.input-container textarea {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  overflow-y: auto; /* Enable vertical scrolling */
  resize: none; /* Disable resizing */
  min-height: 40px; /* Set minimum height */
}

.input-container button {
  margin-left: 10px;
}

/* Style for the send button icon */
.mat-icon {
  font-size: 20px;
}